# OpenTofu runtime files and local state
.terraform/
.tofu/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
*.log

# Explicit Secret Files (Paranoia Layer)
*.tfvars
secret.tfvars
ansible/secret_vault.yml

# Ansible runtime files
*.retry
.ansible/

# Local workspace files
.history/
.pve-pass*

# System leftovers
.DS_Store
Thumbs.db
